html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Bebas Neue', 'Poppins', sans-serif;
    font-weight: bolder;
    background: linear-gradient(to right, black, #1a5aff);
    overflow-y: auto;
}

#container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

/* Assign grid areas */
header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;         
  overflow-x: auto;  
}

.card-container {
  height: 100vh;
  flex: 0 0 33.33%;          
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 0 1.5rem;
  scroll-snap-align: start; 
}

.card {
  background-color: white;
  border-radius: 12px;  
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem 2rem;
  box-shadow: 0 8px 24px rgba(0,0,0,0.8);
  box-sizing: border-box;
  margin: 0 10rem 0 10rem;
  margin-bottom: 2rem;
}

.card h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #f9a825;
  text-shadow: 0 0 8px #f9a825aa;
  flex-shrink: 0;
  margin-top: 2rem;
}

.card img {
  max-height: 50vh;
  border-radius: 20%;
  object-fit: cover;
  /* margin-bottom: 1.5rem; */
  box-shadow: 0 4px 15px rgba(255,255,255,0.2);
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  object-position: center top;
  transition: all 0.4s ease;

}

.card img:hover {
  transform: scale(1.05);
}

.card p {
  font-size: 1.8rem;
  line-height: 1.5;
  color: black;
  flex-grow: 1; 
  overflow-y: auto; 
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.card button {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 1.8rem;
  color: white;
  background-color: #6225E6;
  padding: 15px 45px;
  border: none;
  border-radius: 0;
  transform: skewX(-15deg);
  box-shadow: 6px 6px 0 black;
  cursor: pointer;
  transition: all 0.4s ease;
}

.card button:hover {
  box-shadow: 10px 10px 0 blue;
  transform: skewX(-15deg) scale(1.00);
}

.card button:focus {
  outline: none;
}

#austine-card h2{
  color: #6225E6;
  padding: 1rem;
  margin-right: auto;
  margin-bottom: 0;
}

#austine-card button {
  background-color: #6225E6;
  color: white;
}

#emmanuel-card h2{
  color: #FBC638;
  padding: 1rem;
  margin-right: auto;
  margin-bottom: 0;

}

#emmanuel-card button {
  background-color: #FBC638;
  color: white;
}

#thiago-card h2{
  color: #E63946;
  padding: 1rem;
  margin-right: auto;
  margin-bottom: 0;
}

#thiago-card button {
  background-color: #E63946;
  color: white;
}

#austine-card{
    height: 90vh;
}

#emmanuel-card{
    height: 95vh;
}

#thiago-card{
    height: 95vh;
}

#austine-card h2,
#emmanuel-card h2,
#thiago-card h2 {
  font-size: 2rem;
  position: relative;
  display: inline-block;
}

#austine-card h2::after,
#austine-card h2::before,
#emmanuel-card h2::after,
#emmanuel-card h2::before,
#thiago-card h2::after,
#thiago-card h2::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, black, #1a5aff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

#austine-card h2::before,
#emmanuel-card h2::before,
#thiago-card h2::before {
  top: -5px;
  transform-origin: left;
}

#austine-card h2:hover::after,
#austine-card h2:hover::before,
#emmanuel-card h2:hover::after,
#emmanuel-card h2:hover::before,
#thiago-card h2:hover::after,
#thiago-card h2:hover::before {
  transform: scaleX(1);
}
/* media queries */