body,
html {
  height: 100%;
}

body {
    margin: 0 auto;
    background: linear-gradient(to right, #000, #1a5aff);
    width: 100%;
    font-family: 'Bebas Neue', 'Poppins', sans-serif;
    font-weight: bolder;
}

/* LANDING SECTION STYLING */
/* for main crousel */
.carousel {
  position: relative;
  height: 93vh;
  overflow: hidden;
}


/* for the group of images */
.slides-container {
  display: flex;
  transition: transform 0.8s ease;
  height: 100%;
  width: 100%;
}

/* each single image */
.slide {
  min-width: 100%;
  height: 93vh;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
}

/* slides images */
.slide-img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; or 'contain' if you want the whole image visible without cropping */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Button and header for the slides  in main carousel */
.slide-content {
  position: absolute;
  bottom: 80px;
  left: 50px;
  z-index: 2;
}

/* header for slides */
.slide-content h2 {
  font-size: 3rem;
  margin-bottom: 20px;
   text-decoration: underline 0.2rem;
  text-underline-offset: 1rem;
}

/* carousel button */
.slide-content button {
  padding: 10px 20px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s;
}

/* hover effect */
.slide-content button:hover {
  background: #fff;
  color: #000;
}

/* .nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px 15px;
}

 */

/* arrows for carousel navigation */
.nav.prev {
  left: 10px;
}

.nav.next {
  right: 10px;
}

/* dots styling */
/* dots general */
.indicators {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 3;
}


.indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background: #ffffff;
  cursor: pointer;
  animation: pulseGlow 1.5s infinite ease-in-out;
}

.indicators button.active {
  background: #3CA9E2;
}


/* genres sub sections */

/* GENRE SECTION STYLING */
.genre-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 2rem 10%;
  background: #111;
  /* gap: 2rem; */
  flex-wrap: wrap;
}

/* text positioning */
.genre-text {
  flex: 1;
  max-width: 500px;
}

/* heading styling */
.genre-text h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-decoration: underline 0.2rem;
  text-underline-offset: 1rem;
  color: #fff;
}

/* paragraph styling */
.genre-text p {
  font-size: 1.2rem;
  color: #ccc;
  line-height: 1.6;
}

/* genre carousel styling */
.genre-gallery {
  max-width: 50%;
  height: 352px;
  position: relative;
  width: 264px;
  overflow: hidden;
  border-radius: 10px;
  animation: pulseGlow 1.5s infinite ease-in-out;
}

/* carousel parent folder */
.gallery-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
  
}

/* carousel images */
.gallery-track img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
  border-radius: 10px;
  transition: transform 0.5s ease;
  
}

.gallery-track img:hover {
  transform: scale(1.05);
}

/* media queries */


/* Responsive - hide links and show hamburger on small screens */
@media (max-width: 984px) {
  

  /* slides images */
  .slide-img {
    object-fit: contain; 
}

  
}

/* visible nav on large screens
@media (min-width: 985px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    background-color: transparent;
    padding: 0;
    transform: none !important;
    opacity: 1 !important;
    pointer-events: auto !important;
  }

  .hamburger {
    display: none;
  }
} */

/* color effect for hamburger menu */
@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.4),
                0 0 20px rgba(0, 255, 255, 0.4);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.7),
                0 0 30px rgba(0, 255, 255, 0.6);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.4),
                0 0 20px rgba(0, 255, 255, 0.4);
  }
}

/* ------------------------------------------------------- */
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.hidden {
    opacity: 0;
    transition: opacity 2s ease;
}

.visible {
    opacity: 1;
}
