body {
    margin: 0 auto;
    background: linear-gradient(to right, #000, #1a5aff);
    width: 100%;
    font-family: 'Bebas Neue', 'Poppins', sans-serif;
    font-weight: bolder;
    height: 100vh;
}

.container {
  position: relative;
  max-width: 50%;
  /* max-height: auto; */
  height: 100vh;
  margin: 40px auto;
  background: #fff;
  padding: 40px 70px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#footer {
    position: fixed;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.reference-list {
  list-style-type: disc;
  padding-left: 20px;
}

.reference-list li {
  margin-bottom: 10px;
}

.reference-list a {
  text-decoration: none;
  color: #007BFF;
  transition: 0.2s ease;
}

.reference-list a:hover {
  text-decoration: underline;
  color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}
